/* here you can put your own css to customize and override the theme */
body {
    margin: 30px;
    font-family: sans-serif;
}

#fontSizeWrapper { font-size: 16px; }

#fontSize {
    width: 100px;
    font-size: 1em;
}

/* ————————————————————–
  Tree core styles
*/
.tree {
    margin: 20px 0;
    padding-left:15px;
    list-style: none;
}

.tree input {
    position: absolute;
    clip: rect(0, 0, 0, 0);
}

.tree input ~ ul { display: none; }

.tree input:checked ~ ul { display: block; }

/* ————————————————————–
  Tree rows
*/
.tree li {
    line-height: 1.2;
    position: relative;
    padding: 0 0 1em 1em;
}

.tree ul li { padding: 1em 0 0 1em; }

.tree > li:last-child { padding-bottom: 0; }

/* ————————————————————–
  Tree labels
*/
.tree_label {
    position: relative;
    display: block;
    font-size: 16px;
}
/*.hide-1{*/
    /*display: none;*/
/*}*/

label.tree_label { cursor: pointer; }

label.tree_label:hover .hide-1{
    color: #666;
    display: block !important;
}

/* ————————————————————–
  Tree expanded icon
*/


/* ————————————————————–
  Tree branches
*/
.tree li:before {
    position: absolute;
    top: 0;
    bottom: 0;
    left: -.5em;
    width: 0;
    border-left: 0 solid #777;
    content: "";
}

.tree_label:after {
    position: absolute;
    top: 0;
    left: -1.5em;
    display: none;
    height: 0.5em;
    width: 1em;
    border-bottom: 1px solid #777;
    border-left: 1px solid #777;
    border-radius: 0 0 0 .3em;
    content: '';
}

label.tree_label:after { border-bottom: 0; }

:checked ~ label.tree_label:after {
    border-radius: 0 .3em 0 0;
    border-top: 1px solid #777;
    border-right: 1px solid #777;
    border-bottom: 0;
    border-left: 0;
    bottom: 0;
    top: 0.5em;
    height: auto;
}

.tree li:last-child:before {
    height: 1em;
    bottom: auto;
}

.tree > li:last-child:before { display: none; }

.tree_custom {
    display: block;
    background: #eee;
    padding: 1em;
    border-radius: 0.3em;
}
.mb{
    margin-bottom:15px;
}
.mt{
    margin-top:15px;
}
.ml{
    margin-left:10px;
}
.mr{
    margin-right:15px;
}
.m-left{
    margin-left:15px !important;
}
.hide-1,.hide-2,.hide-3,.hide-4{
    display: none;
}
ul.tree li:hover .hide-1{
    display:block;
}
ul.tree li:hover .hide-2{
    display:inline-block;
}
ul.tree li:hover .hide-3{
    display:inline-block;
}
ul.tree li:hover .hide-4{
    display:inline-block;
}
.space-1{
    margin-top:15px;
}
.space-2{
    margin-top: 35px !important;;

}
.space-3{
    margin-top:35px !important;

}
.input-vsmall{
    width:50px;
}
.set{
    padding-left:0 ;
}
.bc-w{
    background-color: #fff;
    padding: 10px 20px;
}
.icon-g{
    display: none;
}
.flash-1:hover .icon-g{
    display: block;
}
.well-1 {
    min-height: 20px;
    padding: 19px;
    margin-bottom: 20px;
    background-color: #fff !important;
    border: 1px solid #e3e3e3;
    border-radius: 3px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.05);
}
.pl-0{
    padding-left: 0;
}
@media (min-width:768px){
    .modal-dialog{
        width:100% !important;
        margin:0 auto;
    }
}
.modal-open .modal {
    overflow-x: hidden;
    overflow-y: auto;
    padding-left: 200px;
    padding-right: 0 !important;
}